@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet');

body {
    font-family: "EB Garamond", serif;
    font-weight:400;
    font-size: 19px;
}
/*HEADER*/
header {
    background-color:#900C3F;
}
.header__logo {
    margin-left: 10%;
}
menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: rgb(91, 16, 16);
}
.color_nav {
    background-color: #581845;
    font-size: 21px;
    position: sticky;
}

/* FORMULARIO */

form {
    margin-top: 5%;
}

.fondo {  
    width: 100%;
}
.enviar {
    background:#900C3F;
    color: #ffffff;
    font-size: 23px;
    margin-top: 5%;
    border-radius: 1cm;
    margin-block-end: 4%;
    box-shadow:0 0 40px 40px #7a2460 inset, 0 0 0 0 #9e0678;
	text-decoration: none;
    -webkit-transition: all 150ms ease-in-out;
	transition: all ease 0.5s;
}
.enviar:hover {
    box-shadow: 0 1px 6px 0 #20212447;
}



/* SIMULADOR */
.boton {
    color: #ffffff;
    transform: translateX(600px);
    font-size: 26px ; 
    border-width: 1px;
    width: 15%;
    box-shadow:0 0 40px 40px #7a2460 inset, 0 0 0 0 #9e0678;
	text-decoration: none;
    -webkit-transition: all 150ms ease-in-out;
	transition: all ease 0.5s;
	background:#900C3F;
}
.boton:hover {
    box-shadow: 0 1px 6px 0 #20212447;
}


#titulo {
    width: 20%;
    transform: translateX(600px);
    margin-top: 2%;
    display: table;
}
#titulo::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #900C3F;
    transform: scale(0,1);
    transform-origin:center;
    transition: transform .25s;
}
#titulo:hover::after {
    transform: scale(1,1);
}
.parrafo {
    margin-left: 1%;
}
#boton {
    background:#900C3F;
    color: #ffffff;
    font-size: 22px;
    margin-top: 5%;
    border-radius: 1cm;
    margin-block-end: 4%;
    transform: translateX(342%);
    box-shadow:0 0 40px 40px #7a2460 inset, 0 0 0 0 #9e0678;
    text-decoration: none;
    -webkit-transition: all 150ms ease-in-out;
	transition: all ease 0.5s;

}

#boton:hover {
    box-shadow: 0 1px 6px 0 #20212447;
}


#test {
    margin-left: 5%;
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 100px;
    color: #ffffff;
    padding-top: 3%;
    font-size: 14px;
    padding-left: 9%;
    background-image: linear-gradient(
        180deg,
    rgb(199, 0, 57),rgb(290, 141, 243));
}
.footer__logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    
    margin-left: 18%;
} 
.footer__contacto {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    margin-left: 35%;
    color: #ffffff;
    line-height: 29px;
}
.footer__redes {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    margin-left: 40%;
    color: #ffffff;
}
.footer__copyright {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: span 3;
    height: 5px;
    margin-left: 75%; 
    font-size: 13px;
}