@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet');

body {
    font-family: "EB Garamond", serif;
    font-weight:400;
    font-size: 19px;
}
/*HEADER*/
header {
    background-color:#900C3F;
}
.header__logo {
    margin-left: 10%;
}
menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: rgb(91, 16, 16);
}
.color_nav {
    background-color: #581845;
    font-size: 21px;
    position: sticky;
}

/* FORMULARIO */

form {
    margin-top: 5%;
}

.fondo {  
    width: 100%;
}
.enviar {
    background-color: #7a2460;
    color: #ffffff;
    font-size: 23px;
    margin-top: 5%;
    border-radius: 1cm;
    margin-block-end: 4%;
}


/* SIMULADOR */
.boton {
    background-image: linear-gradient(180deg, #681464, #e65e92);
    color: #ffffff;
    transform: translateX(600px);
    font-size: 26px ; 
    border-width: 1px;
    width: 15%;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#900C3F;
}
.boton:after,
.boton:before{
	width: 80px;
	height: 100px;
	content: '';
	display: block;
	background: rgba(255, 255, 255, 0.986);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
.boton:before{
	left: -48%;
}

.boton:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#ad0676
}
.boton:hover:after,
.boton:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
.boton:hover:after{
	right: 130%;
}
.boton:hover:before{
	left: 130%;
}

#titulo {
    width: 20%;
    transform: translateX(600px);
    margin-top: 2%;
}
.parrafo {
    margin-left: 1%;
}
#boton {
    background-color: #7a2460;
    color: #ffffff;
    font-size: 22px;
    margin-top: 5%;
    border-radius: 1cm;
    margin-block-end: 4%;
    transform: translateX(342%)
    
}


#test {
    margin-left: 5%;
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 100px;
    color: #ffffff;
    padding-top: 3%;
    font-size: 14px;
    padding-left: 9%;
    background-image: linear-gradient(
        180deg,
    rgb(199, 0, 57),rgb(290, 141, 243));
}
.footer__logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    
    margin-left: 18%;
} 
.footer__contacto {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    margin-left: 35%;
    color: #ffffff;
    line-height: 29px;
}
.footer__redes {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    margin-left: 40%;
    color: #ffffff;
}
.footer__copyright {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: span 3;
    height: 5px;
    margin-left: 75%; 
    font-size: 13px;
}